@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    color: #260712;
}

body, html {
    background-color: #D94E41;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#forms h1 {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5em;
}

#forms p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 0.8em;
}

#login {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    
    background-color: white;
    margin: auto;
    box-shadow: 0px 0px 15px #260712;
    border-radius: 15px;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#login > #imagem {
    display: block;
    background: #260712 url(../images/layer.jpg) center center no-repeat;
    background-size: cover;
    height: 150px;
}

#login > #forms {
    display: block;
    padding: 10px;
}

.campo > .material-symbols-outlined {
    color: #dd7970;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

form > .campo {
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #260712;
    border-radius: 10px;
    margin: 5px 0px;

}

.campo > input {
    color: #260712;
    background-color:#e09b94;
    font-size: 1em;
    font-weight: 700;
    width: calc(100% - 45px);
    transform: translateY(-12px);
    height: 100%;
    border: 1px solid #260712;
    border-radius: 10px;
    padding-left: 5px;
}

.campo > label {
    display: none;
}

#enter {
    display: block;
    width: 100%;
    height: 40px;

    margin: 15px auto 5px auto;
    cursor: pointer;

    background-color: #a1363f;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    border-style: none;
    border: 2px solid #260712;
    transition-duration: 0.3s;
}

#enter:hover {
    background-color: #dd7970;
    color: #73262C;
}

a {
    display: block;
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    margin: auto;
    text-decoration: none;
    color: #a1363f;
    border: 1px solid #a1363f;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    padding: 8px;
    transition-duration: .2s;
}

a:hover {
    background-color:#e09b94;
    color: white;
}

#help {
    font-size: 1.3em;
    color: #a1363f;
}