@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    color: #260712;
}

body, html {
    background-color: #D94E41;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#forms h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5em;
}

#forms p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 0.8em;
}

#login {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    
    background-color: white;
    margin: auto;
    box-shadow: 0px 0px 15px #260712;
    border-radius: 15px;
}

#login > #imagem {
    display: block;
    background: #260712 url(../images/layer.jpg) top center no-repeat;
    background-size: cover;
    height: 200px;
}

#login > #forms {
    display: block;
    padding: 10px;
}

#enter {
    display: block;
    padding: 10px 30px;
    margin: 30px auto;

    background-color: #a1363f;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    border-style: none;
    border: 2px solid #260712;
    box-shadow: 1px 1px 5px #2607128c;
    transition-duration: 0.3s;
}

#enter:hover {
    background-color: #F2B988;
    color: #73262C;
}

a {
    display: block;
    text-align: center;
    margin-top: -15px;
    font-size: 0.94em;


    color: #a1363f;

}